{% extends "blog/base.html" %}
{% block content %}
  <article class="media content-section">
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" href="#">{{ object.username }}</a>
        {% if object.user == user %}
          <div>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-update' object.id %}">Update</a>
            <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' object.id %}">Delete</a>
          </div>
        {% endif %}
      </div>
          <!-- Exercise information -->
	  <h3>Exercises</h3>
      	  <p class="article-content">Exercise Title: {{ object.exerciseTitle }}</p>
          <p class="article-content">Exercise Duration: {{ object.exerciseduration }}</p>
	  <p class="article-content">Calories Burned: {{ object.caloriesBurned }}</p>

	  <!-- Meal information -->
	  <h3>Meal</h3>
	  <p class="article-content">Meal Title: {{ object.mealTitle }}</p>
	  <p class="article-content">Meal Description: {{ object.mealDescription }}</p>
	  <p class="article-content">Calories Gain: {{ object.caloriesGain }}</p>

          <!-- Goal information -->
	  <h3>Goal</h3>
	  <p class="article-content">Goal Title: {{ object.goalTitle }}</p>
	  <p class="article-content">Goal duration: {{ object.goalDuration }}</p>
	  <p class="article-content">Goal Description: {{ object.goalDescription }}</p>
	  <p class="article-content">Calories Max: {{ object.calorieMax }}</p>
	  {% if object.username == user %}
          <div>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-update' object.id %}">Update</a>
            <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' object.id %}">Completed</a>
          </div>
        {% endif %}
    </div>
  </article>
{% endblock content %}