{% extends "blog/base.html" %}
{% block content %}
    {% for post in posts %}
        {% if info.username == user %}
            <article class="media content-section">
	        <div class="media-body">
		    <div class="article-metadata">
		        <a class="mr-2" href="#">{{ post.username }}</a>
                    </div>
					
		    <h2><a class="article-title" href="{% url 'post-detail' post.id %}">View Info</a></h2>
					
                </div>
	    </article>
			
	{% endif %}
    {% endfor %}
{% endblock content %}